.Weather {
  font-family: arial, sans-serif;
  background-color: #f7f3ff;
  border: 1px solid #dadde1;
  padding: 16px;
  max-width: 600px;
  border-radius: 8px;
  color: rgb(135, 135, 135);
}

.Weather .btn {
  background-color: lightpink;
  border: 1px solid white;
}

.Weather h1 {
  color: #878787;
  font-size: 30px;
  font-weight: 100;
  margin: 20px 0 10px 0;
  line-height: 28.8px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19.2px;
  list-style: none;
}

.Weather img {
  width: 70px;
  height: 70px;
}

.Weather .weather-temperature-container {
  display: flex;
  margin-top: 10px;
}

.Weather .temperature {
  font-size: 64px;
  font-weight: bold;
  color: rgb(33, 33, 33);
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: 1;
  margin-left: 5px;
}

.Weather strong {
  color: lightpink;
  font-weight: bold;
}
