:root {
  --primary-color: #e4c6cc;
  --secondary-color: #713f40;
  --teritary-color: #f7f3ff;
  --fourth-color: #fce1e6;
}

.Weather {
  font-family: arial, sans-serif;
  background-color: var(--fourth-color);
  border: 1px solid #dadde1;
  padding: 16px;
  max-width: 600px;
  border-radius: 8px;
  color: rgb(135, 135, 135);
}

.Weather .btn {
  background-color: #713f40;
  border: 1px solid white;
}

.Weather h1 {
  color: #878787;
  font-size: 30px;

  font-weight: 100;
  margin: 20px 0 10px 0;
  line-height: 28.8px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19.2px;
  list-style: none;
}

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
}

.Weather .weather-temperature-container {
  display: flex;
  margin-top: 10px;
}

.Weather .temperature {
  font-size: 64px;
  font-weight: bold;
  color: rgb(33, 33, 33);
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: 1;
}

.Weather strong {
  color: var(--secondary-color);
  font-weight: bold;
}
